@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.outfit-bold {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 22px;
  text-align: center;
  color: #1F314F;
}

.outfit-regular {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #68778D;
}
body{
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  background-color: white;
  border-radius: 20px;
}
.qr{
    margin-bottom: 24px;
}